body{
	font: 100% helvetica, arial, sans-serif;
	max-width:960px;/*BODY CONTAINER*/
	margin: 0% auto;
	background: #ffffff;
}


img{
	max-width: 100%;
}
/*===============================Begin header=====================*/
header{
	width: 960px;/*=============container===========*/
}

h1{
	width: 300px;/*300*/
	margin: 0px;
	text-indent:-99999999px;
}

span{
	width: 606px;
	margin:10px 0px 0px 0px;
	display:block;
	float: left;
}

.welcome{
	width: 217px;
	margin-top: 45px;
	margin-left: 100px;
	
}

nav{
	width: 700px;/*700============container==============*/
	overflow: hidden;
	font: normal 1em helvetica, arial, sans-serif;
	
}

#nav{
	width: 700px;
	overflow: hidden;
	padding: 0px;

}

#nav li{
	width: 85px;
	text-align: center;
	margin: 0px 5px 0px -3px;
	list-style-type: none;
	float:left;
}

#nav .about_nav{
	margin-left: 7px;

}

#nav a{
	width: 85px;
	color: #050505;
	display: block;
	text-decoration: none;
	padding: 8px 0px 8px 0px;
	margin: 0px;
}

#nav a:hover{
	background-color: #f75e56;
}

#nav a:active{
	background-color: #fbcf70;
}

#nav .currentpage a{
	background-color: #bcd0e5;
}


/*======================================= Begin Services==========================*/
.services{/*=========h2========*/
	width: 150px;
	font: bold 1.563em helvetica, arial, sans-serif;
	clear: both;
	margin: 0px 0px 3px 0px;
}

#cta{
	width: 949px;/*============container===========*/
	background-color: #fbcf70;
	position: relative;
	margin-bottom: 40px;
	float: left;
	-moz-box-shadow: 2px 2px 2px #b5b3b3;
	 -ms-box-shadow: 2px 2px 2px #b5b3b3;
	 -web-box-shadow: 2px 2px 2px #b5b3b3;
	-o-box-shadow: 2px 2px 2px #b5b3b3;
	-html-box-shadow: 2px 2px 2px #b5b3b3;
}

#cta img{
	width: 596px;
	float: left;
	margin-right: 30px;
}

.weprovide{
	width: 293px;
	color:rgba(254, 254, 253, .9);
	position: absolute;
	top: 175px;
	left:292px;
}

.specials{
	width: 125px;
	float: right;
	margin-right: 198px;
	font: bold 1.5em helvetica, arial, sans-serif;
	
}

.repeatcustomer{
	width: 291px;
	font: bold 1.313em/1.3 helvetica, arial, sans-serif;
	overflow: hidden;
}

.repeatdiscounts{
	width: 291px;
	overflow: hidden;
	padding-left: 15px;
}

.repeatdiscounts li{
	width: 291px;
	font: normal 1.188em/1.5 helvetica, arial, sans-serif;
}


.signup{
	width: 159px;
	margin-left: 65px;
	margin-right: 0px;
}

.signup img{
	width: 159px;
	padding: 1px;
	display: block;
	
}

.signup img:hover{
	background-color: #99cd00;
}

.signup img:active{
	background-color: #f6ff03;
}

/*============================ Begin fleet vehicles==============================*/

#wrapper{
	width: 960px;
}

.fleet{/*======h1========*/
	width: 220px;
	font: bold 1.563em helvetica, arial, sans-serif;
	margin: 0px;
	overflow: hidden;
}

#vehicles{
	width: 603px;/*=================container==================*/
	overflow: hidden;
	margin-right: 0px;
	margin-bottom:80px;
	float: left;
}

#sedan{
	width: 280px;
	margin-right: 30px;
	float: left;
}

.sedan{
	width: 281px;
	margin-top: 5px;
	margin-bottom: 0px;
	font: normal 1em/1.3 helvetica, arial, sans-serif;
}

#suv{
	width: 280px;
	overflow: hidden;
}

.suv{
	width: 281px;
	margin-top: 0%;
	margin-bottom: 0px;
	font: normal 1em/1.3 helvetica, arial, sans-serif;
}

#van{
	width: 280px;
	margin-right: 30px;
	margin-top: 40px;
	float: left;
}

.van{
	width: 281px;
	margin-top: 0%;
	font: normal 1em/1.3 helvetica, arial, sans-serif;
}

#taxi{
	width: 280px;
	margin-top: 40px;
	overflow: hidden;
}

.taxi{
	width: 281px;
	margin-top: 0%;
	font: normal 1em/1.3 helvetica, arial, sans-serif;
}
/*==============================Begin Form======================*/
#reserv{/*========h1=========*/
	width: 250px;
	font: bold 1.563em helvetica, arial, sans-serif;
	overflow: hidden;
	margin: 0px 0px 7px 10px;
}

form{
	width:344px;/*==================container================*/
	background-color: #bcd0e5;
	margin-bottom: 20px;
	overflow: hidden;
	font: normal 0.875em/1.5 helvetica, arial, sans-serif; 
	-moz-box-shadow: 2px 2px 2px #b5b3b3;
	 -ms-box-shadow: 2px 2px 2px #b5b3b3;
	 -web-box-shadow: 2px 2px 2px #b5b3b3;
	-o-box-shadow: 2px 2px 2px #b5b3b3;
	-html-box-shadow: 2px 2px 2px #b5b3b3;
}

#first{
	width: 300px;
	margin: 7px 0px 7px 10px;
}

#first label{
	width: 100px;
	display: block;
}

#first input{
	width: 230px;
	background-color:#f4f3f3;
	padding: 4px;
}

#first input:focus{
	background-color: #fbcf70;
}

#last{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 7px;
}

#last label{
	width: 100px;
	display: block;
}

#last input{
	width: 230px;
	background-color:#f4f3f3;
	padding: 4px;
}

#last input:focus{
	background-color: #fbcf70;
}

#phonecall{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 7px;
}

#phonecall label{
	width: 100px;
	display: block;
}

#phonecall input{
	width: 230px;
	background-color:#f4f3f3;
	padding: 4px;
}

#phonecall input:focus{
	background-color: #fbcf70;
}

#mail{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 7px;
}

#mail label{
	width: 100px;
	display: block;
}

#mail input{
	width: 230px;
	background-color:#f4f3f3;
	padding: 4px;
}

#mail input:focus{
	background-color: #fbcf70;
}

#picku{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 7px;
}

#picku label{
	width: 180px;
	display: block;
}

#picku input{
	width: 310px;
	background-color:#f4f3f3;
	padding: 4px;
}

#picku input:focus{
	background-color: #fbcf70;
}

#dropof{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 7px;
}

#dropof label{
	width: 180px;
	display: block;
}

#dropof input{
	width: 310px;
	background-color:#f4f3f3;
	padding: 4px;
}

#dropof input:focus{
	background-color: #fbcf70;
}

#pickdte{
	width: 300px;
	margin-left: 10px;
	margin-bottom: 7px;
}

#pickdte label{
	width: 100px;
	display: block;
}

#pickdte input{
	width: 140px;
	background-color:#f4f3f3;
	padding: 4px;
}

#pickdte input:focus{
	background-color: #fbcf70;
}

#ofvehicle{
	width: 150px;
	margin: 0px 62px 3px 10px;
	float: left;
}

#ofvehicle label{
	width: 130px;
	display: block;

}

#typeofvehicle{
	width: 155px;
	font: normal 0.938em helvetica, arial, sans-serif;
	background-color:#f4f3f3;
	padding: 4px;
	border-radius: 1px;
	margin-bottom: 7px;
}

#typeofvehicle:focus{
	background-color: #fbcf70;
}

#guest{
	width: 120px;
	margin-left: 10px;
	margin-bottom: 3px;
	overflow: hidden;

}

#guest label{
	width: 150px;
	display: block;
}

#numberofguest{
	width: 80px;
	background-color:#f4f3f3;
	font: normal 0.938em helvetica, arial, sans-serif;
	padding: 4px;
	border-radius: 1px;
	margin-bottom: 7px;
}

#numberofguest:focus{
	background-color: #fbcf70;
}

#button{
	width:150px;
	margin-top: 5px;
	margin-left: 10px;
	padding-bottom: 10px;
			
}

#submit{
	width: 100px;
	padding:  3px 6px;
	border-radius: 2px;
	font:  normal 20px helvetica, arial, sans-serif;
	color: black;
	background-color: #99cd00;
}

#submit:hover{
	background-color: #fbcf70;
}

/*=================================Footer======================*/
footer{
	width: 110%;
	font: normal 0.75em helvetica, arial, sans-serif;
	clear: both;
}

footer p{
	width:400px;
	margin: 0px 340px 0px 0px;
	float: left;
	
}

.footnav{
	width: 220px;
	margin-top: 0px;
	margin-bottom:10px;
	overflow: hidden;
}

/*=================================================FORM PAGE/SIGNUP PAGE=================================*/

.become_a_member{/*======h1========*/
	width: 530px;
	margin-bottom: 5px;
	margin-top: 0px;
}

#form{/*=============container==============*/
	width: 960px;
	background-color: #bcd0e5;
	margin-bottom: 87px;
	float: left;
	-moz-box-shadow: 2px 2px 3px #b5b3b3;
	 -ms-box-shadow: 2px 2px 3px #b5b3b3;
	 -web-box-shadow: 2px 2px 3px #b5b3b3;
	-o-box-shadow: 2px 2px 3px #b5b3b3;
	-html-box-shadow: 2px 2px 3px #b5b3b3;
}

#form form{
	width: 334px;
	overflow: hidden;
	margin-right: 30px;
	box-shadow: none;
	float: left;
}

#firstname{
	width: 300px;
	margin: 7px 0px 10px 35px;
	padding-top: 17px;
}

#firstname label{
	width: 100px;
	display: block;
}

#firstname input{
	width: 286px;
	background-color:#f4f3f3;
	padding: 6px;
}

#firstname input:focus{
	background-color: #fbcf70;
}

#lastname{
	width: 300px;
	margin-left: 35px;
	margin-bottom: 10px;
}

#lastname label{
	width: 100px;
	display: block;
}

#lastname input{
	width: 286px;
	background-color:#f4f3f3;
	padding: 6px;
}

#lastname input:focus{
	background-color: #fbcf70;
}

#mailadress{
	width: 300px;
	margin-left: 35px;
	margin-bottom: 10px;
}

#mailadress label{
	width: 100px;
	display: block;
}

#mailadress input{
	width: 286px;
	background-color:#f4f3f3;
	padding: 6px;
}

#mailadress input:focus{
	background-color: #fbcf70;
}

#user{
	width: 300px;
	margin-left: 35px;
	margin-bottom: 10px;
}

#user label{
	width: 110px;
	display: block;
}

#user input{
	width: 286px;
	background-color:#f4f3f3;
	padding: 6px;
}

#user input:focus{
	background-color: #fbcf70;
}

#pass{
	width: 300px;
	margin-left: 35px;
	margin-bottom: 10px;
}

#pass label{
	width: 100px;
	display: block;
}

#pass input{
	width: 286px;
	background-color:#f4f3f3;
	padding: 6px;
}

#pass input:focus{
	background-color: #fbcf70;
}

#reenter{
	width: 300px;
	margin-left: 35px;
	margin-bottom: 10px;
}

#reenter label{
	width: 150px;
	display: block;
}

#reenter input{
	width: 286px;
	background-color:#f4f3f3;
	padding: 6px;
}

#reenter input:focus{
	background-color: #fbcf70;
}

#discount{
	width: 280px;
	margin-left: 30px;
	margin-bottom: 10px;
	overflow: hidden;
}

#discount label{
	width: 260px;
}

#discount input{
	width: 20px;
	background-color:#f4f3f3;
	margin: 2px 5px 3px 0px;
	float: left;
}

#discount input:focus{
	background-color: #fbcf70;
}

.provide{
	 width:568px;
	 margin-top: 25px;
	 border-radius: 10px;
	 padding: 17px 0px 0px 0px;
	 background-color: #fbcf70;
	 overflow: hidden;
	 -moz-box-shadow: 2px 2px 3px #b5b3b3;
	 -ms-box-shadow: 2px 2px 3px #b5b3b3;
	 -web-box-shadow: 2px 2px 3px #b5b3b3;
	-o-box-shadow: 2px 2px 3px #b5b3b3;
	-html-box-shadow: 2px 2px 3px #b5b3b3;
}

.provide h3{
	width: 536px;
	font: bold 1.438em helvetica, arial, sans-serif;
	margin: auto;
}

.provide ul{
	width: 538px;
	font: normal 1.313em/1.7 helvetica, arial, sans-serif;
	padding-left: 35px;
}

.provide ul li{
	width: 500px;

}

#themepark{
	width: 560px;
	margin-top: 15px;
	margin-left: 9px;
}

#submitbutton{
	width:110px;
	margin-left: 35px;
}

/*=======================================================PRICING PAGE====================================*/

.rates{/*====h1===*/
	width: 220px;
	margin: 0px 0px 7px 0px;
	font: bold 1.5em helvetica, arial, sans-serif;
}

.fares{/*=========container=========*/
	width: 948px;
	background-color: #fbcf70;
	-moz-box-shadow: 2px 2px 2px #b5b3b3;
	 -ms-box-shadow: 2px 2px 2px #b5b3b3;
	 -web-box-shadow: 2px 2px 2px #b5b3b3;
	-o-box-shadow: 2px 2px 2px #b5b3b3;
	-html-box-shadow: 2px 2px 2px #b5b3b3;
}

#rates{
	width: 465px;
	float: left;
}

#rates h3{
	width:220px;
	font: bold 1.313em helvetica, arial, sans-serif;
	margin: 21px 0px 0px 27px;
}

#rates ul{
	width: 373px;
	font: normal 1.188em/1.9 helvetica, arial, sans-serif;
	margin: 12px 0px 0px 0px;
}

.nosmoking{
	line-height: 1.5;
	margin-bottom: 5px;
}

.tolls{
	line-height: 1.5;
	margin-bottom: 5px;
}

#indvidual{
	width: 483px;
	background-color: #ebac25;
	overflow: hidden;
}

#indvidual h3{
	width: 390px;
	font: bold 1.313em helvetica, arial, sans-serif;
	margin: 21px 0px 0px 52px;
}

#indvidual ul{
	width: 440px;
	overflow: hidden;
	padding-left: 37px;
	margin: 10px 0px 10px 0px;
	font: bold 21px helvetica, arial, sans-serif;
}

#indvidual ul li{
	width: 100px;
	list-style-type: none;
	text-align: center;
	float: left;
}

#indvidual ul a{
	display: block;
}

#indvidual a:visited{
	color: blue;
}

#indvidual a:hover{
	background-color: #f75e56;
}

#indvidual a:active{
	background-color: #fbcf70;
}

#indvidual img{
	margin-left: 11px;
}

.su a{
	margin-left: 27px;
}

.town a{
	margin-left: 15px;
}

.enlarge{
	width: 100px;
	font: normal 0.688em helvetica, arial, sans-serif;
	margin: 0px 0px 5px 390px;
	
}

footer{
	margin-top: 80px;
}

/*================================================ABOUT US PAGE==========================================*/

#about_us{/*=========container=======*/
	width: 948px;
	background-color: #bcd0e5;
	overflow: hidden;
	-moz-box-shadow: 2px 2px 2px #b5b3b3;
	 -ms-box-shadow: 2px 2px 2px #b5b3b3;
	 -web-box-shadow: 2px 2px 2px #b5b3b3;
	-o-box-shadow: 2px 2px 2px #b5b3b3;
	-html-box-shadow: 2px 2px 2px #b5b3b3;
}

 .us{/*h1*/
	width: 167px;
	font: bold 1.5em helvetica, arial, sans-serif;
	margin: 0px 0px 7px 0px;
}

.about{
	width:465px;
	background-color: #fbcf70;
	float: left;
}

.about p{
	width: 400px;
	font: normal 1em/1.5 helvetica, arial, sans-serif;
	margin: 0px 0px 0px 30px;
	padding: 30px 59px 45px 0px;
}

.traveling{
	overflow: hidden;
}

.traveling h2{
	width: 411px;
	font: bold 1.438em helvetica, arial, sans-serif;
	margin: 30px 0px 19px 30px;
}

.traveling h3{
	width: 222px;
	margin: 0px 0px 5px 30px;
	font: bold 18px helvetica, arial, sans-serif;
}

.traveling ul{
	width: 200px;
	padding: 0px;
	margin: 8px 20px 0px 45px;
	Float: left;
	font: normal 1.125em/1.3 helvetica, arial, sans-serif;
}

.traveling ul li{
	width: 150px;

}

.callgirl{
	width:167px;
}



.callfor{
	width: 222px;
	overflow: hidden;
	float: right;
	margin-right: 230px;
	font: normal 1em/1.3 helvetica, arial, sans-serif;
	color: #fe0303;
}

.callfor p{
	margin: 3px 0px 0px 0px;
}
/*================================================CONTACT US PAGE=========================================*/

#contact{
	width: 165px;
	font: bold 1.5em helvetica, arial, sans-serif;
	margin: 0px 0px 7px 0px;
}

.contact_us{/*========container=======*/
	width: 948px;
	overflow: hidden;
	background-color: #fbcf70;
	-moz-box-shadow: 2px 2px 2px #b5b3b3;
	 -ms-box-shadow: 2px 2px 2px #b5b3b3;
	 -web-box-shadow: 2px 2px 2px #b5b3b3;
	-o-box-shadow: 2px 2px 2px #b5b3b3;
	-html-box-shadow: 2px 2px 2px #b5b3b3;
	
}

.contact_us .companyinfo{
	width: 465px;
	float: left;
}

.companyinfo div{
	width: 374px;
	margin-left: 30px;
}

.companyinfo .florida{
	width: 300px;
}

.companyinfo span{
	margin: 0px 5px 0px 0px;
	font: bold 18px helvetica, arial, sans-serif;
}

.companyinfo .phne{
	width: 61px;
	
}

.companyinfo #phne p{
	margin-top: 25px;
	margin-bottom: 0px;
}

.companyinfo #fax p{
	margin-top: 7px;
}

.companyinfo .fax{
	width: 38px;
	
}

.companyinfo #ouradr{
	margin-top: 30px;
}

.companyinfo .ouradr{
	width: 104px;
}

.companyinfo .ouremail{
	width: 93px;
}

.companyinfo .espanol{
	width: 131px;
	margin-top: 25px;
	margin-left: 30px;
	margin-bottom: 0px;
	color: #fe0303;
}

.companyinfo img{
	float: left;
	margin-right: 25px;
	margin-left: 30px;
}

.companyinfo .customer_dispatch{
	width: 275px;
	overflow: hidden;
	font: bold 18px helvetica, arial, sans-serif;
}



#message form{
	width: 483px;
	margin: 0px;
	padding-bottom: 10px;
	overflow: hidden;
	box-shadow: none;
}

#opinion{
	width: 300px;
	margin: 0px 0px 12px 35px;
}

#opinion textarea{
	width: 300px;
	background-color:#f4f3f3;
	margin: 0px;
}

#opinion textarea:focus{
	background-color: #fbcf70;
}

#submitbutton{
	float: left;
}

.contactshortly{
	width: 263px;
	overflow: hidden;
	font: normal 12px helvetica, arial, sans-serif;
}















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































